/* All Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading style*/

h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    padding-top: 1%;
    color: #343148FF;
    background-color: #D7C49EFF;
}

/* Score Board Styling */

.score {
    padding-top: 2%;
    width: 100%;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: #D7C49EFF;
}

.left-side {
    padding-right: 2%;
    background-color: #D7C49EFF;
}

.right-side {
    padding-left: 2%;
    background-color: #D7C49EFF;
}

.timer {
    
}

/* Restart Button */

.restart {
    cursor: pointer;
    color: #00BC0B;
}

/* Main Board Styling */

.wrapper {
    height: 100vh;
    display: flex;
    background: #D7C49EFF;
}

.gameboard {
    width: 650px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
}

/* Card Space Styling */

.card {
    width: calc(25% - 10px);
    height: calc(33.333$ - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(0.95);
    transition: transform .3s;
}

/* Card Styling */

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #343148FF;
    backface-visibility: hidden;
}

/* Animation */

.card.turn {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(180deg);
}